  /* make sidebar nav vertical */
  @media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
    }
    .sidebar-nav .navbar ul {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li {
      float: none;
      display: block;
    }
    .sidebar-nav .navbar li a {
      padding-top: 12px;
      padding-bottom: 12px;
    }

  /* .main {
    margin-top:-180px;
    padding-left:200px;
    margin-right: 15px;
    height: auto;
  }
*/
  /* REQUIRED*/
  .asterisk label {
    font-weight: bold;
}
  .asterisk label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

  /* INDEX DESIGN */

  #frontpagejumbotron {

    background: lightgray;
    border-radius: 20px;
    border-style: none;
    margin-top: 50;
    margin-left: 150px;
    margin-right: : 150px;
    width: 1600;
    overflow: auto;
    padding: 25;
  }

  #aboutpagejumbotron {
    margin-top: 130px;
    padding: 50px;
    margin-right: 100px;
    margin-left: 75px;
  }

#body {
      height: 100%;
      width: 100%;
      overflow: auto;
  }


  .jumbotron {
    margin-top: 3%;
    margin-bottom: 6%;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
  }

  /* HALDUSBLANK FIRMADE ANDMETE TABEL */

  #ettevotteddata {
    margin-left: 175px;
    margin-right: 120px;
    padding-left: 25;
    padding-right: 25;
    padding-top: 25;
    width: 1500;
    height: auto;
    overflow: auto;
  }


    /* float: left;
    margin-top: 25px;
    padding: 30px;
    padding-bottom: 15px;
  /*background: lightgray;*/
    border-radius: 20px;
    border-style: none;
    margin-left: 150px;
    margin-right: 0px;
    width: 1100;
    padding-top: 0px;
    margin-bottom: 100px;
    overflow: auto;
  } */

  /* HALDUSBLANK ANDMETE SISESTUS TABEL */

 #ettevottedinsert {
  float: right;
  padding: 25px;
  margin-left: 0px;
  margin-right: 150px;
  margin-top: 25px;
  background: lightgray;
  border-radius: 20px;
  border-style: none;
  width: 350px;
  height: 510px;
  padding-top: 0px;
  }


  /* NAVIGATION DESIGN */

  #navigationbar {
    font-weight: bold;
    font-size: 160%;
    padding-top: 25px;
    padding-left: 50px;
    float: left;
  }


  /* LOGIN PAGE DESIGN */

  #logincontent {
    margin-top: 130px;
    padding: 50px;
    margin-right: 100px;
    margin-left: 75px;

  }

  #footer {
    clear: both;
    position: fixed;
    height: 3em;
    margin-top: -3em;
    float: inherit;
    Width: 100%;
    bottom: 0;
    text-align: center;
    color: gray;
    font-weight: bold;
    padding-top: 10px;
    border-radius: 6px;
    }

/* ALERTS */

/* #success-alert {
  float: right;
  margin-top: -100px;
  margin-right: 225px;
}

 #modify-success-alert {
   float: right;
   margin-top: -100px;
   margin-right: 225px;
}

#delete-success-alert {
  float: right;
  margin-top: -100px;
  margin-right: 225px;
}

#danger-alert {
  float: right;
  margin-top: -100px;
  margin-right: 225px;
}*/

/* ETTEVÕTTED ALERTS */

#success-alert {
  font-weight: bold;
  float: right;
  margin-right: -17%;
  margin-top: 24%;
}

 #modify-success-alert {
   font-weight: bold;
   float: right;
   margin-right: -17%;
   margin-top: 24%;
 }

#delete-success-alert {
  font-weight: bold;
  float: right;
  margin-right: -17%;
  margin-top: 24%;
}

#danger-alert {
  font-weight: bold;
  float: right;
  margin-right: -16%;
  margin-top: 24%;
}



/* KOOLITUSTE ANDMETE TABEL */

#koolitusdata {
  margin-left: 175px;
  margin-right: 120px;
  padding-left: 25;
  padding-right: 25;
  padding-top: 25;
  width: 1500;
  height: auto;
  overflow: auto;
}



  /* float: left;
  margin-top: 25px;
  padding: 30px;
  padding-bottom: 15px;
  /*background: lightgray;*/
  border-radius: 20px;
  border-style: none;
  margin-left: 150px;
  margin-right: 0px;
  width: 1100;
  padding-top: 0px;
  margin-bottom: 100px;
  overflow: auto;
} */

/* KOOLITUSTE SISESTUS TABEL */

/* #koolitusedinsert {
  float: right;
  padding: 25px;
  margin-left: 0px;
  margin-right: 150px;
  margin-top: 25px;
  background: lightgray;
  border-radius: 20px;
  border-style: none;
  width: 350px;
  height: 510px;
  padding-top: 0px;
} */


/* KOOLITUSTE ALERTS */

#success-alert-koolitused {
  font-weight: bold;
  float: right;
  margin-right: 10px;
  margin-top: 0px;
}

 #modify-success-alert-koolitused {
   font-weight: bold;
   float: right;
   margin-right: 10px;
   margin-top: 0px;
 }

#delete-success-alert-koolitused {
  font-weight: bold;
  float: right;
  margin-right: 10px;
  margin-top: 0px;
}

#danger-alert-koolitused {
  font-weight: bold;
  float: right;
  margin-right: 10px;
  margin-top: 0px;
}




/* TÖÖTAJATE ANDMETE TABEL */

#Workerdata {
  float: left;
  margin-top: 25px;
  padding: 30px;
  padding-bottom: 15px;
  /*background: lightgray;*/
  border-radius: 20px;
  border-style: none;
  margin-left: 150px;
  margin-right: 0px;
  width: 1100;
  padding-top: 0px;
  margin-bottom: 100px;
  overflow: auto;
}

/* TÖÖTAJATE SISESTUS TABEL */

#Workerinsert {
  float: right;
  padding: 25px;
  margin-left: 0px;
  margin-right: 150px;
  margin-top: 25px;
  background: lightgray;
  border-radius: 20px;
  border-style: none;
  width: 350px;
  height: 630px;
  padding-top: 0px;
}

/* TÖÖTAJAD ALERTS */

#success-alert-tootajad {
  font-weight: bold;
  float: right;
  margin-right: -315px;
  margin-top: 580px;
}

 #modify-success-alert-tootajad {
   font-weight: bold;
   float: right;
   margin-right: -315px;
   margin-top: 580px;
 }

#delete-success-alert-tootajad {
  font-weight: bold;
  float: right;
  margin-right: -315px;
  margin-top: 580px;
}

#danger-alert-tootajad {
  font-weight: bold;
  float: right;
  margin-right: -315px;
  margin-top: 580px;
}

/* SEADETE NUPU ANIMATSIOON */

.whatGoesAroundComesAround{
 width: 37px;
  height: 37px;
  padding: 0px;
  margin: 0px auto;

  -moz-transition: transform 15s;
  -webkit-transition: transform 5s;
  transition: transform 2s;
}

.whatGoesAroundComesAround:hover{
  transform: rotate(3180deg);
  -moz-transform: rotate(3180deg);
  -webkit-transform: rotate(3180deg);
}

/* RIISTVARA + TARKVARA LEHT */

#riistvaradata {
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 25;
  width: auto;
  height: auto;
  overflow: auto;
}


#riistvarainsert {
 float: left;
 padding: 25px;
 margin-left: 265px;
 margin-top: 10px;
 background: lightgray;
 border-radius: 20px;
 border-style: none;
 width: 35%;
 height: 295px;
 padding-top: 0px;
 margin-bottom: 100px;
 }

 #tarkvarainsert  {
  float: right;
  padding: 25px;
  margin-left: 200px;
  margin-right: 245px;
  margin-top: 50;
  background: lightgray;
  border-radius: 20px;
  border-style: none;
  width: 350;
  height: 250px;
  padding-top: 0px;
  margin-bottom: 100px;
  }

 /* !!!HEADER / LOGIN!!! */

 #BCS-logo {
   float: left;
   margin: 5;
 }

 #login {
   float: right;
   margin: 5;
   margin-right: 15;
   margin-top: 10;
 }

 #header-menu {
   margin-top: 20;
   color: #005b7f;
   text-decoration: none;
   font-weight:bold;
 }

 a
{
  color: #005b7f;
  text-decoration: none;
  font-weight:bold;
}


  /* Add a black background color to the top navigation */
.topnav {
  margin-top: 14;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 4;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  border: 1px;

}

/* Change the color of links on hover */
  .topnav a:hover {
  background-color: #313131;

}

/* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
  display: none;
}

/* BUTTONS */

#buttonAddNewTarkvara {
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  padding-right: 15;
}

#buttonAddNewTarkvara:hover {
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 0;
  padding-right: 15;
}


/* MODAL DESIGN */
