

<!-- Navigation bar(vertical)-- SIGNUP ONLY-->
  <div id="sidebar-wrapper" style="margin-left:-70;">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle">Menu<span id="main_icon" class="glyphicon"></span></a></li>
        </ul>
           <ul class="sidebar-nav" id="sidebar">
               <li><a href="#">Sign Up<span class="glyphicon"></span></li>

      </div>
